@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <form method="get" asp-controller="Movie" asp-action="Create">
        <button type="submit" class="btn btn-light">Добавить фильм</button>
    </form>

    <form method="get" asp-controller="Actor" asp-action="Create">
        <button type="submit" class="btn btn-light">Добавить актёра</button>
    </form>

    <form method="get" asp-controller="Director" asp-action="Create">
        <button type="submit" class="btn btn-light">Добавить режиссёра</button>
    </form>
</div>
